---
layout: default
title: More Stories
permalink: /more-stories/
---

<h1 class="page-title">More Stories</h1>

<div class="stories-list">
  {% assign max_stories = site.data.feeds_count | default: 10 %}
  {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
  {% assign remaining_posts = sorted_posts | offset: max_stories %}
  
  {% for post in remaining_posts %}
  <article class="story-card">
    {% if post.image %}
    <div class="story-image">
      <a href="{{ post.url | relative_url }}">
        <img src="{{ post.image }}" alt="{{ post.title }}">
      </a>
    </div>
    {% endif %}
    
    <div class="story-content">
      <h2 class="story-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
    </div>
  </article>
  {% endfor %}
</div>
